{% extends "listings/base.html" %}

{% block content %}

<h2>{{ band.name }}</h2>

<ul>
    <li>Genre: {{ band.get_genre_display }}</li>
    <li>Year of formation: {{ band.year_formed }}</li>
    <li>Active: {{ band.active | yesno }}</li>

    {% if band.official_homepage %}
    <li>
        <a href="{{ band.official_homepage }}">{{ band.official_homepage }}</a>
    </li>
    {% endif %}

    {% for listing in band.listing_set.all %}
    <li>
        <a href="{% url 'listing-detail' listing.id %}">{{ listing.title }}</a>
    </li>
    {% endfor %}
</ul>

<p>{{ band.biography }}</p>

<a href="{% url 'band-update' band.id %}">Edit this band</a>

<a href="{% url 'band-list' %}">Back to the list of bands</a>

{% endblock %}